* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
  }

.calculator{
    margin: 30px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 5px;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button{
    flex: 1;
    text-align: center;
}

.child{
    flex: 1;
}

.display{
    text-align: center;
    height: 20px;
    width: 400px;
    border: 2px solid black;
    margin: 30px auto;
    margin-bottom: 0px;
}

